*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.952);
  display: block;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
  color: black;
  text-align: center;
  
  
}
.bg-fullscreen{
  background: url('images/backgrounds/restaurant-3.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}
header{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
}
nav{
  width: 100%; 
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-box-align: center;
  left: 0;

}
nav a img{
  margin-right: 150px;
}
nav ul{
  width: 100%;
  margin: 10px;
  list-style-type: none;
  justify-content: space-between;

}
nav ul li{
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid black;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: large;
  text-transform: uppercase;
}
nav ul li a:hover{
  color: rgb(221, 108, 15);
  text-decoration: underline;
  color: rgb(221, 108, 15);
}

.social-media-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 40px;
}
.social-media-links-item{
  width: 40px;
  padding: 20px;
}
.fa-brands{
  color: black ;
}
.fa-brands:hover{
  color: rgb(221, 108, 15);;
}
.index-header{
  background-color: transparent;
}
.index-header nav ul li{
  border-right: 1px solid white;
}
.index-header nav ul li:last-child {
  border-right: none;
}
.index-header nav ul li a{
  color: white ;
  font-weight: bold;
  font-size: large;
}
.index-header nav ul li a:hover{
  color: rgb(221, 108, 15);
  text-decoration: underline;
  color: rgb(221, 108, 15);
}
.index-header .fa-brands{
  color: white;
}
.index-header .fa-brands:hover{
  color: rgb(221, 108, 15);;
}

.change{
  background-color: white;
}
.main-content{
  padding-top: 120px;
  padding-bottom: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(246, 241, 241)
  
}
.main-content p{
  padding: 10px;
  font-size: large;
}
.main-content button{
  font-size: large;
  background-color: transparent;
  margin-top: 5px;
  border: 2px  rgb(200, 198, 198) solid;
  border-radius: 3px;
  padding: 10px;
}
.main-content button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  background-size: cover;
}
.main-content button:hover{
  background-color: rgb(221, 108, 15);
}

#reviews{
  padding: 50px;
  
}
#reviews h2{
  font-size: xx-large;
}

.review-slides{
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 160px;
  overflow: hidden;
  align-items: center;
  font-size: larger;
  margin: auto;
  
}
.slide{
  display: none;
  padding: 50px 50px;
  font-size: larger;
  letter-spacing: 4px;
  text-align: center;
  align-items: center;
  color: rgb(48, 62, 71);
  
  
}
.slide i{
  text-transform: uppercase;
}
.slide p{
  padding: 10px;
  font-size: medium;
}
.slide.active{
  display: block;
  
}

.details{
padding: 20px;
}
#contact{
  color: white;
  background-color: rgb(45, 44, 44);;
}
#contact h2{
  font-size: xx-large;
  padding-top: 30px;
}
.container-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  height: 100%;
  
  
  
}
.details{
  font-size: large;
}
.details a{
  color: rgb(221, 108, 15);
}
.opening-times .awards{
  border-right: 1px solid;
  padding-right: 150px;
  
}
.res-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 120px;
  background: url(images/food/food-2.jpeg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.info{
  padding: 30px;
  margin-top: 20px;
  font-size: large;
}
.book-a-table{
  font-size: x-large;
}


.inputs-for-res{
  display: grid;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
.date-input .time-input .partysize-input{
  padding: 10px;
}
label{
  display: block;
  padding-bottom: 10px;
  font-size: large;
}
#date, #time, #party-size{
  padding: 5px 10px;
  
}
.next-button{
  padding: 10px 30px;
  font-size: medium;
  margin-bottom: 30px;

  
}
.next-button:hover{
  background-color: rgb(45, 44, 44);
  color: white;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 120px;
  background: url(images/food/food-4.jpeg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.story-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.owner-1{
  
  width: 33.3%;
}
.story-info{
  width: 33.3%;
}
.story-info h1{
  padding-bottom: 20px;
}
.owner-2{
  width: 33.3%;
}
.owner-1 img .owner-2 img{
  position: relative;
}
